<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Supply Plan Calculator">
        <meta name="author" content="Legan Andrei">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
        <title>SP Calculator</title>

        <script th:src="@{/js/jquery.js}"></script>
        <script th:src="@{/js/jquery-ui.js}"></script>
        <script th:src="@{/js/sockjs.js}"></script>
        <script th:src="@{/js/stomp.js}"></script>
        <script th:src="@{/js/websocket.js}"></script>
        <link th:href="@{/css/jquery-ui.css}" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    </div>
</html>